.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
   
}


.hero img{
    margin-top: 50px;
    width: 400px;
    border-radius: 50%;
    border: 5px solid #4A00E0;


}

.hero h1{
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight: 600;
}

.hero h1 span{
    /* background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%); */
    background: linear-gradient(135deg, #8E2DE2, #4A00E0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect{
    padding: 25px 45px;
    border-radius:50px ;
    background: linear-gradient(135deg, #8E2DE2, #4A00E0);
    /* background: linear-gradient(264deg, #DF8908 10%, #B415FF 100% ); */
    cursor: pointer;
}

.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
}


.hero-connect:hover{
    border: 2px solid white;
}

.hero-resume:hover{
    border-color: #B415FF;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (max-width: 800px) {
    .hero img{
        margin-top: 100px;
        width: 360px;
    }
    .hero h1{
        width: 90%;
        font-size: 50px;
    }
    .hero p{
        width: 60%;
        font-size: 18px;
        line-height: 30px;
        margin: 10px 0px;
    }
    
    .hero-action{
        gap: 16px;
        font-size: 18px;
    }
    .hero-connect{
        padding: 20px 30px;
        border-radius: 40px;
    }
    .hero-resume{
        padding: 20px 50px;
        border-radius: 40px;
    }
}



@media (max-width: 423px) {
    .hero-action{
        gap: 10px;
    }
    .hero-connect{
        padding: 20px 25px;
        font-size: 15px;
    }
    .hero-resume{
        padding: 15px 25px;
        font-size: 18px;
    }
}